.searchbar {
    border-radius: 10px;
    border: 3px solid #0A5C36;
    width: 100%;
    outline: none;
    padding: 5px;
}

.searchbar:focus {
    border: 3px solid #A3B18A;
}

.btn {
    background-color: #0A5C36 ;
    color: #FEFEFE;
    border: 3px solid #0A5C36;
    border-radius: 10px;
    padding: 4px;
    width: 90px;
}

.btn:hover {
    background-color: #A3B18A;
    border: 3px solid #A3B18A;
}