.navbar {
    background-color: #344E41;
}

.nav-item.active {
    background-color: #A3B18A;
    border-radius: 10px;
}

.custom-input-group {
    border: 3px solid #A3B18A; 
    border-radius: 10px;
}

.custom-input-group:focus-within {
    border: 3px solid #588157; 
}

.custom-input-group input {
    border: none;
}

.custom-input-group input:focus {
    box-shadow: none;
}

.custom-select:focus-within {
    border: 3px solid #588157; 
}

.custom-select select {
  border: none;
  outline: none;
  box-shadow: none;
}

.custom-select:focus {
    box-shadow: none !important;
    border: none !important;
}
